GITHUB_ACCESS_TOKEN="your_token_here"
CLICKHOUSE_HOST="host"
CLICKHOUSE_PORT=0000
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_DATABASE="database"
MAX_CONCURRENT_REQUESTS=10
REQUESTS_PER_SECOND=10
BATCH_SIZE=50
